.collapse {
  background-color: #f6f6f6;
  border-radius: 5px;
  &__title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #ff6060;
    border-radius: 5px;
  }
  &__arrow {
    margin-right: 10px;
    width: 25px;
    height: 14px;
    background: url("../../assets/icons/arrow-ronded-corners.svg");
    transition: all 400ms;
    .collapse--unfolded & {
      transform: rotate(-180deg);
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 400ms ease-in-out;
    font-size: 18px;
    .collapse--unfolded & {
      max-height: 1000px;
    }

    & p {
      margin: 0;
      padding: 20px;
      transform-origin: top;
      transform: translateY(-70px);
      transition: all 400ms ease-in-out;
      .collapse--unfolded & {
        transform: translateY(0);
      }
    }
  }
}
