@import "../variables";
@import "../mixins";

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(110px, 6.6vw);
  margin: max(110px, 6.6vw) 0px;
  color: $--main-color;
  &__title {
    margin: 0;
    font-size: 288px;
  }
  &__message {
    margin: 0;
    font-size: 36px;
  }
  & a {
    color: black;
    font-size: 18px;
  }
  @include mobile {
    &__title {
      font-size: 96px;
    }
    &__message {
      text-align: center;
      max-width: 260px;
      font-size: 18px;
    }
    & a {
      font-size: 14px;
    }
  }
  @include tablet {
    &__title {
      font-size: 144px;
    }
    &__message {
      text-align: center;
      font-size: 24px;
    }
    & a {
      font-size: 18px;
    }
  }
}