@import "../variables";
@import "../mixins";

.slideshow {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  &__img-container, &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 400ms ease-in-out;
    will-change: transform;
  }
  &__arrow-left, &__arrow-right {
    position: absolute;
    top: calc(50% - 40px);
    width: 48px;
    height: 80px;
    background: url("../../assets/icons/arrow.svg") center center / 100% 100%;
    z-index: 2;
    cursor: pointer;
  }
  &__arrow-right {
    transform: rotate(180deg);
    right: 23px;
  }
  &__arrow-left {
    left: 23px;
  }
  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;
    font-size: 18px;
    z-index: 2;
  }
  @include mobile {
    margin-bottom: 15px;
    height: 255px;
    border-radius: 10px;
    &__arrow-left, &__arrow-right {
      top: calc(50% - 10px);
      width: 12px;
      height: 20px;
    }
    &__counter {
      display: none;
    }
  }
  @include tablet {
    margin-bottom: 15px;
    height: 355px;
    border-radius: 10px;
    &__arrow-left, &__arrow-right {
      top: calc(50% - 25px);
      width: 30px;
      height: 50px;
    }
  }
}