$--banner-home: "../../assets/images/landscape-1.jpg";
$--banner-about-us: "../../assets/images/landscape-2.jpg";
$--main-color: #FF6060;

$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  desktop: 1439px
);